// @see https://github.com/nerik/leaflet-graphicscale/blob/master/src/Leaflet.GraphicScale.scss

@mixin leaflet-graphicscale-transition($transition-property, $transition-time, $method) {
	@if $transition-time {
		-webkit-transition: $transition-property $transition-time $method;
		-moz-transition: $transition-property $transition-time $method;
		-ms-transition: $transition-property $transition-time $method;
		-o-transition: $transition-property $transition-time $method;
		transition: $transition-property $transition-time $method;
	}
}

$leaflet-scale-lineHeight: 6px;
$leaflet-scale-borderWidth: 1px;
$leaflet-scale-color: #000;
$leaflet-scale-fillLineHeight: 2px;
$leaflet-scale-fillHollowPadding: 1px;
$leaflet-scale-transitionDuration: 0.5s; // can be `null`
$leaflet-scale-fillHollowColor: null; // can be `null`
$leaflet-scale-labelHaloColor: null; // can be `null`
$leaflet-scale-labelOffset: 10px;
$leaflet-scale-labelSize: inherit;

.leaflet-control-graphicscale-inner {
	margin: 6px 16px;
	white-space: nowrap;

	.units {
		display: inline-block;
	}

	.subunits {
		display: none;
	}

	.label {
		width: 100px;
		text-align: center;
		margin-bottom: $leaflet-scale-labelOffset;
		position: absolute;
		opacity: 1;
		font-size: $leaflet-scale-labelSize;
		@if $leaflet-scale-labelHaloColor {
			text-shadow:
				0 0 2px $leaflet-scale-labelHaloColor,
				0 0 2px $leaflet-scale-labelHaloColor,
				0 0 2px $leaflet-scale-labelHaloColor,
				0 0 2px $leaflet-scale-labelHaloColor,
				0 0 2px $leaflet-scale-labelHaloColor;
		}
		@include leaflet-graphicscale-transition(opacity, $leaflet-scale-transitionDuration, linear);
	}

	//labels are on top
	.leaflet-bottom &.labelPlacement-auto, &.labelPlacement-top {
		margin-top: 20px;
		.label {
			bottom: 0;
		}
	}

	.leaflet-top &.labelPlacement-auto, &.labelPlacement-bottom {
		margin-bottom: 20px;
	}

	.divisionLabel {
	  	right: 0;
	    margin-right: -50px;
	}

	.zeroLabel, .subunitsLabel {
		left: 0;
	    margin-left: -50px;
	}

	.division {
		display: inline-block;
		position: relative;
		width: 40px;
		@include leaflet-graphicscale-transition(width, $leaflet-scale-transitionDuration, ease-in-out);

		.line, .line2 {
			border-style: solid;
			position: relative;
		}

		.line2 {
			height: 0;
			border-width: 0;
		}

		.line {
			@if $leaflet-scale-fillHollowColor {
				background: $leaflet-scale-fillHollowColor;
			}
			height: $leaflet-scale-lineHeight;
			border-width: $leaflet-scale-borderWidth $leaflet-scale-borderWidth $leaflet-scale-borderWidth 0;
		}

	}

	.units .division:first-child .line {
		border-left-width: $leaflet-scale-borderWidth;
	}

	.subunits .division .line {
		border-width: $leaflet-scale-borderWidth 0 $leaflet-scale-borderWidth $leaflet-scale-borderWidth;
	}

	.fill {
		position: relative;
	}

	&.showsubunits {
		.subunits {
			display: inline-block;
		}
	}

	&.double {
		.division {
			.line2 {
				height: $leaflet-scale-lineHeight;
				border-width: 0 $leaflet-scale-borderWidth $leaflet-scale-borderWidth 0;
			}
		}

		.units .division:first-child .line2 {
			border-left-width: $leaflet-scale-borderWidth;
		}

		.subunits .division .line2 {
			border-width: 0 0 $leaflet-scale-borderWidth $leaflet-scale-borderWidth;
		}

		.label {
	    	margin-bottom: 14px;
		}
	}


	&.filled {
		.fill {
			background-color: $leaflet-scale-color;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

	}

	&.filled-line {

		@mixin leaflet-graphicscale-fill-line {
			height: 2px;
			top: $leaflet-scale-lineHeight/2 - $leaflet-scale-fillLineHeight/2;
		}

		.line .fill {
			@include leaflet-graphicscale-fill-line;
		}

		&.double .fill {
			@include leaflet-graphicscale-fill-line;
		}
	}

	&.filled-hollow {
		.fill {
			position: absolute;
			top: $leaflet-scale-fillHollowPadding;
			left: $leaflet-scale-fillHollowPadding;
			right: $leaflet-scale-fillHollowPadding;
			bottom: $leaflet-scale-fillHollowPadding;
		}

	}

	.division.hidden {
		width: 0;

		.line, .line2 {
			height: 0;
			border-width: 0;
		}

		.label:not(.subunitsLabel) {
			opacity: 0;
		}
	}
}
